python-dotenv==0.20.0
loguru==0.6.0

git+https://github.com/boudinfl/pke.git@refs/pull/189/merge # Keyword Extraction Toolkit with lemmatization
summa==1.2.0 # Summarization framework

# gRPC deps
grpcio-tools==1.46.3
googleapis-common-protos==1.56.1
grpcio-testing==1.46.3
grpc-interceptor==0.14.1
